
<a>El equipo de desarrollo de 1puntocinco quiere que sepan que...</a>
<br/>
<h4>↓↓↓ La inspiración para desarrollar este proyecto fue ↓↓↓</h4>
<h3> ♥ S H O ♥ </h3>
<h2>Pero no me ama compas...</h2>


