<h2>Gracias por confirmar tu correo electrónico</h2>
<p>Ahora podras disfrutar la experiencia completa de 1puntocinco</p>
<br>
<h4>No tienes que hacer nada mas que cerrar esta ventana</h4>
<h6>¡Gracias!</h6>