<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<h2>ESTA ES LA VISTA DESPUES DE LOGUEARSE CON GOOGLE</h2><br>
<br>
<h2>Sign up</h2>
<form action="/auth/signup" method="post">
    <input type="email" name="correo" placeholder="Tu correo" />
    <input type="password" name="password" placeholder="Your password"/>
    <input type="password" name="password2" placeholder="Your password again"/>
    
    <input type="submit"/>
</form>